executor="pbspro"
queue="normal"
procs=24
walltime="1:00:00"

commands {

fastq_validate {

    procs = 24
    THREADS = 1

   }

preprocess {

    procs = 24
    THREADS = 24

   }

subtract_human {

    procs = 24
    THREADS = 24

   }

snap_nt {
   
    procs = 24
    THREADS = 24

}

assembly {

    procs = 24
    THREADS = 24

}

}
