QUALITY         = "Sanger"
QUALITY_CUTOFF	= 18
LENGTH_CUTOFF   = 50
ADAPTER_SET     = "Truseq"
START_NT        = 10
CROP_LENGTH     = 75
TMP_DIR         = "/home/projects/11000727/bpipe/reference/tmp/"

SNAP_SUBTRACTION_DB	= "/home/projects/11000727/bpipe/reference/snap_index_hg19_rRNA_mito_Hsapiens_rna/"
HUMAN_EDIT_DIST		= 12

SNAP_NT_DB		= "/home/projects/11000727/bpipe/reference/COMP_SNAP/snap_index_04182018.nt."
SNAP_CUTOFF		= 12

TAXONOMY_DB		= "/home/projects/11000727/bpipe/reference/taxonomy/"
TRANS_ACC2GI		= "/home/projects/11000727/bpipe/reference/taxonomy/nucl_acc2gi_total"
RIBO_SNAP_DB		= "/home/projects/11000727/bpipe/reference/RiboClean_SNAP/"

ABYSS_LENGTH		= 100
CONTIG_CUTOFF		= 175

RAPSEARCH_VIRAL		= "/home/projects/11000727/bpipe/reference/RAPSearch/rapsearch_viral_aa_130628_db_v2.12"
DIAMOND_VIRAL		= "/home/projects/11000727/bpipe/reference/Diamond/diamond_viral_aa_130628_db_v2.12.dmnd"
AC_DIAMOND_VIRAL	= "/home/projects/11000727/bpipe/reference/AC-Diamond/ac-diamond_viral_aa_130628_db_v2.12.dmnd"
ECUTOFF_VIRAL		= 1

RAPSEARCH_NR		= "/home/projects/11000727/bpipe/reference/RAPSearch/rapsearch_nr_130624_db_v2.12"
DIAMOND_NR		= "/home/projects/11000727/bpipe/reference/Diamond/diamond_nr.dmnd"
AC_DIAMOND_NR		= "/home/projects/11000727/bpipe/reference/AC-Diamond/ac-diamond_nr.b8.dmnd"
AC_DIAMOND_NR_SPLIT	= "/home/projects/11000727/bpipe/reference/AC-Diamond/ac-diamond_nr"
ECUTOFF_NR		= 0
